.slider-bar {
  .rangeslider-horizontal {
    height: 7px;
  }
  .rangeslider__handle{
    height: 20px;
    width: 20px;
  }
  .rangeslider__handle:after {
    width:0;
    height:0;
    background-color: transparent;
    box-shadow: none;
  }
}

.low {
  .rangeslider__fill {
    background-color: #8BC34A;
  }
}

.medium {
  .rangeslider__fill {
    background-color: #FFEB3B;
  }
}

.normal {
  .rangeslider__fill {
    background-color: #FFC107;
  }
}

.high {
  .rangeslider__fill {
    background-color: #FF9800;
  }
}